

.register-form-img {
    width: 35vw;
    height: 20vw;
}

.register-form {
    width: 20%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column;
    position: absolute;
}

.incorrect-auth-pass {
    font-style: italic;
    font-size: 90%;
}