.wrapper-user {
    display: flex;
    height: 3%;
    padding: 5px;
    width: 95%;
    margin: 1.5% auto;
    background-color: rgba(0, 0, 0, 0.03);

    .user-info {
        flex: 100;
    }
    
    .user-info-delete {
        flex: 1;
    }
    
    .status-text {
        font-weight: bold;
        margin-right: 5px;
        display: inline-block;
        transform: translateY(-5px);
    }
    
    .user-delete-btn {
        height: 100%;
        width: 5%;
        font-size: 12px;
        line-height: 7px;
    
    }
}
